@use "./base.scss";

// put your custom CSS here!

.btn {
    display: block;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--tertiary);
    font-family: var(--headerFont);
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
    text-decoration: none;
    border: 1px solid var(--light);
}
.btn:hover{
    color: var(--tertiary);
    background-color: var(--light);
    border: 1px solid var(--tertiary);
}
